body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url('./images/background.png');
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas,
		'Courier New', monospace;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: rgb(87, 81, 53);
}

.dark-mode {
	background-image: url('./images/backgroundtoggle.png');
}

.dark-mode h1 {
	color: rgb(122, 142, 171);
}

.container {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	min-height: 100vh;
}

.notes-list {
	grid-row-start: auto;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat( auto-fill, minmax(250px, 1fr)
	);
}

.note.new {
	background-color: #dedede;
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	grid-row-start: auto;
}

textarea {
	border: none;
	resize: none;
	background-color: #f5e9d4;
}

textarea:focus {
	outline: none;
}

textarea[type='ingredient'] {
	border: none;
	resize: none;
	background-color: #a4c3f3;
}

textarea[type='recipe'] {
	border: none;
	resize: none;
	background-color: #dedede;
}

textarea[type='title'] {
	resize: none;
	background-color: #dedede;
	font-size: large;
}

.save {
	background-color: #c4bfbf;
	border: none;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
}

.save:hover {
	background-color: #ededed;
	cursor: pointer;
}


.addRecipe {
	background-color: #ede1e1;
	border: none;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
	display: flex;
}

.addRecipe:hover {
	background-color: #ededed;
	cursor: pointer;
}

.plusButton {
	border-radius: 200px;
	height: 200px;
	width: 200px;
	font-size: 100px;
	color: #8b877a;
	background: #ccccba;
	border: 2px #8b877a solid;
  }

  .plusButton:hover {
	background: rgb(31, 45, 62);
	cursor: pointer;
  }
  
.note {
	grid-row-start: auto;
	background-color: #4d4d37;
	border-radius: 10px;
	padding: 1rem;
	min-height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
}

.note-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: rgb(170, 115, 5);
}

.delete-icon {
	cursor: pointer;
}

.search input:focus {
	outline: none;
}

.ingredients {
	background-color: #9edee9;
	border-radius: 10px;
	padding: 1rem;
	min-height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
}

.ingredients.new {
	background-color: #a4c3f3;
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
}

.titlearea {
	background-color: #dedede;
	padding: 1rem;
	min-height: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
	border-radius: 10px;
}